.nav{
    width:100vw;
    display: flex;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    padding:1rem 1rem 0rem 1rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.151);
    border-width: 0.1px;
    transform: translateY(-100%);
    opacity: 0;
    animation: showNav 0.4s ease forwards 3.4s;
}

.h1{
    display: none;
    @media screen and (min-width:800px) {
        display: block;
        margin-left: 2rem;
        font-size: 2rem;
        color: white;
    }
}

@keyframes showNav {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}