.Technologies{
    width:100%;
    background-color: white;
    padding:3rem 1rem;
    box-sizing: border-box;
}


.ImgWrapper{
    position: relative;
   width: 100%;
   height: 300px;
    
}

.Card{
    box-shadow: 0px 0px 10px 0px black;
    box-sizing: border-box;
    padding:1rem;
    width: 90%;
    min-height: 600px;
    height: 100%;
    max-width:400px ;
    border-radius: 1rem;
    text-align: center;
    opacity: 0;
    margin:0 auto;
    @media screen and (max-width:800px) {
        margin-top: 2rem;
        box-shadow: none;
    }
}

.CardWrapper{
    
    width: 100%;
    gap: 3rem;
   
    @media screen and (min-width:800px) {
            display: grid;

        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:1300px) {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width:1800px) {
        display: grid;

        grid-template-columns: repeat(4, 1fr);
    }
}

.IconWrap{
    font-size: clamp(2rem, 2rem, 2rem);
    font-size: 1rem;
}