.Wrapper{
    width: 100%;
    box-sizing: border-box;
    padding:0.5rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width:1000px) {
        padding:2rem;
        padding-top: 6rem;

    }

}

.ContactBigForm{
    width:100%;
    max-width: 1400px;
    @media screen and (min-width:1000px) {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        box-sizing: border-box;
        box-shadow: 0px 0px 5px 0px black;
        border-radius: 0.4rem;
        overflow:hidden;

    }
}

.MainSection{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    max-width: 1000px;
    background-color: white;

}

.Input{
    width:100%;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding:0.8rem;
    border-radius: 1px;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border-style: none;
    box-shadow: 0px 0px 2px 0px black;
}

.TextArea{
    width:100%;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding:0.6rem;
    border-radius: 1px;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border-width: 0.4px;
    height: 200px;
    border-style: none;
    box-shadow: 0px 0px 2px 0px black;
}

.GoogleMaps{
    @media screen and (max-width:1000px) {
        height: 500px  !important;
    }
}