.Position{
border-width: 1px;
font-size:1.5rem;
font-weight: 700;
color:white;
display: flex;
align-items: center;
justify-content: center;
padding:0.5rem;
box-sizing: border-box;
}
//border-2 text-2xl font-bold text-white flex justify-center  p-2


.Wrapper{
    //bg-yellow-200 mt-4"
    margin-top: 1rem;
}